*{
    margin: auto;
}

.contenedor_principal {
    
    display: flex;
    align-items: center;
    position: relative;
    background-color: #f7f7f7;
}

.contenedor_principal .flecha_izquierda,
.contenedor_principal .flecha_derecha{
    border: none;
    font-size: 70px; 
    color: grey;
    background: none;

}


.contenedor_principal .flecha_izquierda{
    left: 0;
    padding-right: 20px;
}

.contenedor_principal .flecha_derecha{
    right: 0;
    padding-left: 20px;
}

/*Carrusel*/

.contenedor_carrusel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior:smooth;
}

.carrusel{
    display: flex;
}

.item{
    min-width: 16.5%;
   
}

.titulo,
.icono,
.subtitulo{
      text-align: center;
}

.titulo p{
    font-size: 18px;
    color: rgb(61, 62, 61);
    font-weight: bolder;    
}

.icono{
    margin-top: 3px;
    margin-bottom: 10px;
}

.subtitulo p{
    padding-bottom: 5px;
    color: rgb(61, 62, 61);
}

.subtitulo hr{
    width:148px;
   }
