*{
    margin: 0px;
    padding: 0px;
    
}

.contenedor_principal {
    width: 100%;
    display: flex;
    align-items: center;
    
    position: relative;
    background-color: #F7F7F7;
}




.contenedor_principal .flecha_izquierda{
    left: 0;
}

.contenedor_principal .flecha_derecha{
    right: 0;
   
}

/*Carrusel*/

.contenedor_carrusel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior:smooth;
    align-items: center;
    padding: auto;
    overflow: hidden;
   }

.carrusel{
    display: flex;
    animation-duration: 15s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
  
}

.carrusel:hover {
  animation-play-state: paused;
}

/*
@keyframes slidein {
  0% {
    transform: translateX(0);
  }
  12.5%{
      transform: translateX(calc(-13.2%*1));
  }
  25%{
      transform: translateX(calc(-13.5%*2));
  }
  37.5%{
    transform: translateX(calc(-13.6%*3));
  }
  49%{
    transform: translateX(calc(-13.7%*4));
  }
  61.5%{
    transform: translateX(calc(-13.7%*5));
  }
  74%{
    transform: translateX(calc(-13.7%*6));
  }
  86.5%{
    transform: translateX(calc(-13.7%*7));
  }
  
  100% {
    transform: translateX(calc(-13.7%*8));
    }
}

*/

p{
    line-height: 11px;
}


.item{
 
  min-width: 150px;
  max-height: 110px;
  /*
   min-width: 12.5%;
   min-width: 50%;*/
   border: 1px solid #54595f;
   margin-right: 5px;
   margin-left: 5px;
   border-radius: 10px;
   align-items: center;
}

.item:hover{
    transform: scale(1.1);
    margin-left: 8px;
    margin-right: 8px;
    
}


.icono img{
    width: 60px;
    height: 40px;

}


.flecha_derecha img,
.flecha_izquierda img{
    width: 40px;
   
}




/*
.contenedor-titulo{
    border: 1px solid green;
    height: 36px;
}
*/

.titulo,
.icono,
.subtitulo{
      text-align: center;
      align-items: center; 
     
}

.titulo p{
    font-family: 'Asap Condensed', sans-serif;
    font-size: 16.5px;
    color: #ff333d;
    font-weight: bolder;   
    margin-top: 10px; 
    margin-bottom: 5px;
}

.icono{
    align-items: center;
   
}

.subtitulo p{
    font-family: 'Asap Condensed', sans-serif;
    font-size: 15px;
    margin-bottom: 7px;
    color: #54595f;
    
}


/*
.bienes img{
    width: 70px;
    height: 42px;
   
}


.productos{
    width: 135px;
}*/



@media screen and (max-width: 1200px) { 
    .item {
      min-width: 150px;  
    }

    @keyframes slidein {
      0% {
        transform: translateX(0);
      }
      12.5%{
          transform: translateX(calc(-160px*1));
      }
      25%{
          transform: translateX(calc(-160px*2));
      }
      37.5%{
        transform: translateX(calc((-160px)*3));
      }
      49%{
        transform: translateX(calc((-161px)*4));
      }
      61.5%{
        transform: translateX(calc((-161px)*5));
      }
      74%{
        transform: translateX(calc((-161px)*6));
      }
      86.5%{
        transform: translateX(calc((-161px)*7));
      }
      
      100% {
        transform: translateX(calc((-161px) * 8));
        
        }
    }
  }


  @media screen and (min-width: 1201px) { 
    .item {
      min-width: 160px;  
      
    }

    @keyframes slidein {
      0% {
        transform: translateX(0);
      }
      12.5%{
          transform: translateX(calc((-170px)*1));
      }
      25%{
          transform: translateX(calc(-170px*2));
      }
      37.5%{
        transform: translateX(calc((-170px)*3));
      }
      49%{
        transform: translateX(calc((-171px)*4));
      }
      61.5%{
        transform: translateX(calc((-171px)*5));
      }
      74%{
        transform: translateX(calc((-171px)*6));
      }
      86.5%{
        transform: translateX(calc((-171px)*7));
      }
      
      100% {
        transform: translateX(calc((-171px) * 8));
        
        }
    }
  }
  /*
  
@media screen and (max-width:1680px) {
    .item {
      min-width: 140px;   
      max-height: 125px;
    }
    
}
*/

/*Prueba para Surface Pro7 medidas 912x1386*/

/*Segunda prueba */


/*
@media screen and (min-width: 500px) and (max-width: 920px){
  .item {
    max-width: 170px;   
  }

  @keyframes slidein {
    0% {
      transform: translateX(0);
    }
    12.5%{
        transform: translateX(calc(-150px*1));
    }
    25%{
        transform: translateX(calc(-150px*2));
    }
    37.5%{
      transform: translateX(calc(-158px*3));
    }
    49%{
      transform: translateX(calc(-158px*4));
    }
    61.5%{
      transform: translateX(calc(-158px*5));
    }
    74%{
      transform: translateX(calc(-158px*6));
    }
    86.5%{
      transform: translateX(calc(-158px*7));
    }
    
    100% {
      transform: translateX(calc(-158px * 8));
      
      }
  }
  
}

*/